<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" ">
  <meta name="keywords" content=" ">
  <meta name="robots" content="all">
  <title>Стихи</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    @font-face {
      font-family: SunFran; /* имя шрифта для CSS правил */
      src: local("SunFran"), /* проверяем наличие шрифта в ОС пользователя */
      url('<%=asset_url ('SF-UI-Text-Light.otf')%>'); /* 543если шрифт не установлен, тогда загружаем его по указанному пути, но что то не получается*/
    }
    @media (max-width: 641px), (orientation:  portrait) {
      .header {
        height: 90px;
        margin-top: 0;
        position: fixed;
      }

      .logo img{
        height: 90px;
        float: left;
      }
      .left_menu {
        display: none;
      }
      .poem_view {
        width: 95%;
        margin-left: 3%;
      }
      .menu.menu_author{
        margin-top: 15px;
        display: block;
      }
      .right_menu {
        position:fixed;
        left: -280px;
        width: 250px;
        height: 100%;
        margin-top:0;
        background-color: white;
        border-right: 2px solid #3399ff;
        overflow: auto;
      }

      #content{
        padding-top:90px;
      }

      .icon-menu {
        display: block;
      }

      .right_menu.active{
        left: 0;
      }

      .menu {
        font-size: 1.2em;
        margin: 0px auto;
        border: 0px;
      }

      .menu nav ul li{
        padding: 10px 0px;
        margin-top: 0;
      }
      .menu nav ul:last-child{
        border-bottom:1px solid #3399ff;
      }

      .menu.menu_author nav ul{
        border: none;
      }

      .menu nav ul li:hover{
        padding: 10px 0px;
        margin-top: 0;
      }
      .element h6 {
        margin: 0;
        margin-top: 5px;
        margin-right: 5px;
        padding: 0;
        float: right;
      }

    }
  </style>
</head>
<body>
  <div class="header">
    <div class="wrapper_h">
      <div class="icon-menu">
        <span class="divide"></span>
        <span class="divide"></span>
        <span class="divide"></span>
      </div>
      <div class="logo"><%= link_to image_tag(image_url('logo.png')), root_path %></a></div>
    </div>
  </div>
  <div id="content">
    <div class="left_menu">
      <div class="menu">
        <nav>
          <ul>
            <%@authors.each do |author|%>
                <a href="<%= author_poems_path(author) %>"><li><%=author.name%><%=author.id%></li></a>
            <%end%>
          </ul>
        </nav>
      </div>
    </div>
    <div class="right_menu">
      <div class="menu">
        <nav>
          <ul>
            <%@holidays.each do |holiday|%>
                <a href="<%= holiday_poems_path(holiday) %>"><li><%=holiday.text%><%=holiday.id%></li></a>
            <%end%>
          </ul>
        </nav>
      </div>
      <div class="menu menu_author">
        <nav>
          <ul>
            <%@authors.each do |author|%>
                <a href="<%= author_poems_path(author) %>"><li><%=author.name%><%=author.id%></li></a>
            <%end%>
          </ul>
        </nav>
      </div>
    </div>
<%= yield %>
    <!--Молитва перед выходом в Интернет

Господи Боже наш, Творче неба и земли, создавый человека и
даровавый ему ведение сокровенной премудрости, во еже прославляти имя Твое,
горе и долу Ты еси, Твое есть ночь и Твое есть день, не утаятся
пред Тобою даже мимолетные движения мысли.
И ныне молю Тя, от всякого греха сохрани мя,
приступающего к работе с хитроумным творением рук
человеческих, проникающим во вся концы земли.
Огради очи мои и ум мой от всяких нечистых и блудных
образов, от пустых и негодных словес.
Укрепи волю, сердце очисти, не даждь ми вотще
расточати время жизни моея, и от всякого расслабления и уныния избави.
Да будут дела наши во славу Твою!
Аминь.
-->
  </div>
    <div class="footer">
      <div class="footer_c">
        <p>design by kennystorm 2016</p>
      </div>
    </div>
</body>
</html>
